<% if message.content.present? %>
  <% user = User.find(message.user_id) %>
  <% custom_style =  message.sender?(current_user) ? ["justify-content:flex-end;", "user-message"] : ["justify-content:flex-start;", "other-user-message"] %>

  <div class="message-block" style=<%= custom_style[0] %>>
    <div class="message-container">
      <div class="message <%= custom_style[1] %>">
      <% message_time = Time.strptime(message.message_time, "%m/%d/%y at %I:%M %p") %>
      <% formatted_message_time = message_time.strftime("%H:%M") %>
        <%= render "messages/message_content", message: message %>
        <small ><%= formatted_message_time %></small>
      </div>
    </div>
  </div>
<% end %>
