<% if message.content.present? %>
        <% user = User.find(message.user_id) %>
        <% align =  user == current_user ? "align-self:flex-end;" : "align-self:flex-start;" %>

        <div class="message-block" id="message-<%= message.id %>">
          <div class="message-container" style=<%= align %>>
            <% message_time = Time.strptime(message.message_time, "%m/%d/%y at %I:%M %p") %>
            <% formatted_message_time = message_time.strftime("%H:%M") %>

            <small><%= formatted_message_time %></small>

            <div class="message"><p><%= message.content %></p></div>

          </div>

        </div>
<% end %>
