.user-avatar {
  position: absolute;
  bottom: 5px;
  left: 5px;
  border: 1px solid rgb(255, 255, 255);
  width: 50px;
  height: 50px;
}

.card-image {
  height: 200px;
  width: 200px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px 16px 0px 0;
}

.profiles-container {
  background: #e27c3d1c;
  border-radius: 16px;
  padding: 1rem 2rem;
  overflow: hidden;
  a {
    color:#e27835;
  }
}

.profile-card{
  color: black;
  border-radius: 16px;
  background: white;
  transition: ease-in-out 0.3s;
  padding-bottom: 10px;
  h5{
    margin: 0;
  }

  p{
    padding: 0;
    margin: 0;
    color: gray;
  }
  &:hover {
    transform: scale(1.04);
  }
}

.scroll {
  overflow-x: scroll;
  overflow: hidden;
  cursor: grab;
}

.card-community{
  height: 200px;
  width: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
  }
}

.orange {
  color: #e27835;
}

a {
  text-decoration: none;
}
