.user-avatar {
  position: absolute;
  bottom: 5px;
  left: 5px;
  border: 1px solid rgb(255, 255, 255);
  width: 50px;
  height: 50px;
}

.card-image {
  height: 200px;
  width: 200px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0px 0;
}

.profiles-container {
  background: $light-orange;
  overflow: hidden;
  padding: 32px 0;
  margin: 0;
  a {
    color: $orange;
  }
}
.suggested-community-container {
  padding: 32px 16px  48px 16px;
  background-color: white;
}

.profiles-title {
  padding: 0 16px;
}

.profile-card{
  color: black;
  border-radius: 12px;
  background: white;
  transition: ease-in-out 0.3s;
  margin-right: 16px;
  h5{
    margin: 0;
  }

  p{
    padding: 0;
    margin: 0;
    color: gray;
    font-size: 14px;
  }
  i{
    color: $orange;
  }
  &:hover {
    transform: scale(1.04);
  }
}

.scroll-container {
  mask-image: linear-gradient(90deg, transparent, #000 16px, #000 calc(100% - 32px), transparent calc(100% - 16px));
  overflow: hidden;
}

.scroll {
  overflow-x: scroll;
}

.card-community{
  height: 200px;
  width: 357px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
  }
}
.events-cards{
  display: flex;
  align-items: start;
  margin-bottom:16px;
  gap: 8px;

  h5{
    font-size: 16px;
    margin: 0;
    width: 250px;
  }
  p{
    font-size: 16px;
    margin: 0;
    color: grey;
  }
}

.upcoming-events-container {
  background-color: #ebebeb;
  margin: 0 0 50px 0 ;
  padding: 16px;
  a {
    margin: 0;
  }
  i{
    color: $orange;
  }
}

time.icon
{
  font-size: 12px; /* change icon size */
  display: block;
  position: relative;
  width: 33px;
  height: 36px;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}
time.icon * {
  display: block;
  width: 100%;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong {
  position: absolute;
  top: 0;
  padding: 0px;
  color: #fff;
  background-color: #fd9f1b;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}
time.icon span
{
  font-size: 14px;
  letter-spacing: -0.05em;
  padding-top: 17px;
  color: #2f2f2f;
}

.orange {
  color: $orange;
}

.underlined-link {
  font-size: 24px;
  margin: 0;

}

a {
  text-decoration: none;
  margin: 0;
}

li {
  list-style: none !important;
}
