@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#landing-page {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: white;
  background-image: url('landing-page2.png');
  background-size: cover;
  // background-repeat: no-repeat;
  // animation: fadeIn 2s ease-in-out;
}


.landing-text {
  position: absolute;
  top: 420px;
  right: 570px;
}



@media (max-width: 500px) {
  .landing-image {
    position: absolute;
    top: 100px;
    right: 65px;
    width: 300px;
    height: 180px;
  }

  #toggle-button {
    position: absolute;
    top: 450px;
    right: 100px;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    background-color: #dd6d1e;
    border-radius: 100px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
  }

  .landing-text {
    position: absolute;
    top: 375px;
    right: 50px;
  }

}
