.profile-container {
  margin: 40px 16px 71px 16px;
}

.back-btn-profile {
  position: absolute;
  top: 68px;
  left: 16px;
  font-size: 20px;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow:1;
  gap: 16px;
}

.stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  p{
    margin: 0;
  }
}

.user-bio{
  margin: 16px 0;
  p{
    margin: 8px 0;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 16px;
}

.btn-profile{
  border-radius: 12px;
  background-color: $orange;
  padding: 8px 40px;
  color: white;
  border: none;
  font-size: 14px;
  width: 177px;
  border: 2px solid $orange;
}

.back-button {
  font-size: 30px;
  position: absolute;
  top: 25px;
  left: 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
}

.dog_details {
  margin-top: 10px;
  text-align: left;
  margin-bottom: 30px;
}

.user-card {
  border-radius: 8px;
  padding: 10px;
  margin-top: 30px;
  text-align: left;
}





.profile-info {
  margin-left: 15px;
  text-align: left;
}

.profile-image-small {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  justify-content: left;
  align-items: center;
}

.lighter-font {
  font-weight: 350;
}

.modal-content {
  padding: 20px;
  background-color: white;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.actions {
  margin-bottom: 60px;
}

.submit {
  margin: 8px;
}

.unfollow {
  background-color: $white;
  border: 2px solid $orange;
  color: $orange;
  width: 175px !important;
}
