.profile-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #ccc;
  align-items: center;
}

.alignment {
  width: 500px;

}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.dog-profile {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.profile-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 10%;
}

.profile-details {
  align-items: center;
  text-align: left;
  max-width: 300px;
  margin-top: 10px;
}

.dog-bio {
  text-align: left;
  max-width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.user-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 500px;
  align-items: center;
}

.user-profile {
  display: flex;
  align-items: center;
}

.profile-info {
  margin-left: 15px;
}

.user-bio {
  margin-top: 15px;
  text-align: left;
}

.profile-image-small {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-info {
  text-align: left;
}

.actions {
  margin-top: 20px;
}

.icon-button {
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.sub-head {
  font-weight: lighter;
}

.button.icon-button {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed for spacing between buttons */
}

.lighter-font {
  font-weight: 350;
}
