.explore-container {
  margin: 16px 16px 71px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.explore-profile-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid $light-gray;
  background-color: white;
  a{
    text-decoration: none;
    color: #212121;
  }
  p{
    color: gray;
  }
  i {
    color: $orange;
  }
}

.user-avatar {
  position: absolute;
  bottom: 5px;
  left: 5px;
  border: 1px solid rgb(255, 255, 255);
}

.dog-picture-users {
  height: 120px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px 12px 0px 0;
}

.small-profile-card {
  border-radius: 12px;
  background-color: white;


  h5 {
    margin: 0;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.user-error {
  a {
    color: black;
    margin-top: 8px;
    text-decoration: underline;
  };

}

.profile-card-users p {
  color: gray;
}

.profile-card-users h5 {
  color: black;
  font-size: 16px;
  margin-left: 4px;
}

.btn-view-profile {
  color: black;
  text-decoration: none;
}


.input-search {
  width: 100%;
  border-radius: 12px;
  padding: 8px;
  margin-top: 8px;
  border: none;
  font-size: 14px;
}

.search-container {
  position: relative;
}

#clear-button {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  left: 264px;
  border: 1px;
  background: white;
}

#clear-button {
  display: none;
}

@media (min-width: 600px) {
  .explore-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
