<div class="conversations">
  <div class="header">
    <div class="header-inner">
      <h2>Messages</h2>
      <a href="#"><i class="fa-solid fa-circle-plus orange"></i></a>
    </div>
  </div>

  <div class="ui list conversations-container">
    <% @conversations.each do |conversation| %>
      <%= render "conversation_card", conversation: conversation %>
    <% end %>
  </div>
</div>
