<div class="conversations">
  <div class="header">
    <div class="header-inner">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Messages</h2>
      <a href="#"><i class="fa-solid fa-circle-plus orange"></i></a>
    </div>
    </div>
  </div>

  <div class="ui list conversations-container">
    <% @conversations.each do |conversation| %>
      <% if conversation.messages.any? %>
        <%= render "conversation_card", conversation: conversation %>
      <% end %>
    <% end %>
  </div>
</div>
