<div class="ui segment">
  <h3>Mailbox</h3>
  <div class="ui list">
    <div class="item">
      <ul>
      <% @conversations.each do |conversation| %>
        <% name_of_the_other_person = conversation.sender == current_user ? conversation.recipient.name : conversation.sender.name %>
        <li><%= link_to name_of_the_other_person, conversation_path(conversation) %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
