<div id="landing-page">
  <%= image_tag 'barkbuddiesgif.gif', alt: 'Bark Buddies logo', class: "landing-image" %>
  <h2 class="landing-text">Connecting Paws to People</h2>
  <%= link_to 'Join the Pawmunity!', root_path, class: 'button', id: 'toggle-button' %>
</div>
