.conversation-container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.95)), url('https://www.shutterstock.com/image-vector/dog-bone-seamless-pattern-french-600nw-1656988378.jpg');
}

.chat {
  height: 77dvh;
}

.community-chat {
  height: 79vh;

}

.back-btn {
  position: absolute;
  top: 45px;
  left: 16px;
  font-size: 20px;
}

.back-btn-community {
  position: absolute;
  top: 120px;
  left: 16px;
  font-size: 20px;
  a{
    color: white;
  }
}


.chat-header{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: $light-orange;
  padding: 16px;
}

.community-chat-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 16px;
  background-position-y: -50px;
  background-size: cover;
  color: white;
}

.user-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
  }

.dog-image{
    margin-top: 30px;
    margin-left: -20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
  }

.header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2{
    margin: 0;
    font-weight: 600;
  }
  h4 {
    font-weight: 400;
  }
}

.messages {
  max-height: 80%;
  overflow: auto;
}

.message-block{
  display:flex;
  width: 100%;
}

.message-container{
  max-width: 80%;
  margin: 8px 16px;
  color: white;
  small{
    font-size: 11px;
    margin-left: 10px;
    text-align: right;
  }
}


.message {
  position: relative;
  max-width: 200px;
  margin-top: 16px;
  border-radius: 10px;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word; /* For older browsers */
  text-wrap: wrap;
  overflow-wrap: break-word;
  p{
    margin: 0;
  }
  strong{
    position:absolute;
    top: 2px;
    left: 8px;
    font-size: 14px;
    color: $light-orange;
  }
}

.user-message{
  background-color: $orange;
  margin: 0;
  small {
    color: $light-orange;
  }
}

.other-user-message{
  background-color: grey;
  margin: 0;
  small {
    color: $light-gray;
  }
}

.other-users-message{
  background-color: grey;
  margin: 0;
  padding-top: 18px;
  p{
    padding-right: 20px;

  }
  small {
    color: $light-gray;
  }
}

.chat-form{
  margin: 16px 16px 71px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control{
  background-color: white;
  height: 50px;
  width: 100%;
  padding: 10px;
  border-radius: 12px 0px 0px 12px;
  resize: none;
  border-right: none;
  border-left: 1px solid rgb(133, 133, 133);
  border-top: 1px solid rgb(133, 133, 133);
  border-bottom: 1px solid rgb(133, 133, 133);
  &:focus{
    background-color: white;
  }
}

.text-area{
  height: 50px;
  width: 100%;
  padding: 10px;
  border-radius: 12px 0px 0px 12px;
  resize: none;
  border-right: none;
  border-left: 1px solid rgb(133, 133, 133);
  border-top: 1px solid rgb(133, 133, 133);
  border-bottom: 1px solid rgb(133, 133, 133);
}

.form-button{
  width: 20%;
  height: 50px;
  border-radius: 0px 12px 12px 0px;
  background-color: $orange;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-top: 1px solid rgb(133, 133, 133);
  border-bottom: 1px solid rgb(133, 133, 133);
  border-right: 1px solid rgb(133, 133, 133);
}

#message_content:focus{
  outline: none
}

@media (min-width: 768px) {
  .conversation-container {
    margin: 0 auto;
    max-width: 60%;
    background-color: $light-gray;
    border-radius: 12px;
  }

  .text-area {
    width: 85%;
    width: 90%;
  }

  .form-button{
    width: 15%;
  }

  body{
    background-color: white;
  }
}

@media (min-width: 968px) {
  .conversation-container {
    margin: 0 auto;
    max-width: 60%;
    background-color: $light-gray;
    border-radius: 12px;
  }

  .text-area {
    width: 90%;

  }

  .form-button{
    width: 10%;
  }

  body{
    background-color: white;
  }
}
