.community-card {
  width: 250px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: rgb(228, 228, 228);
  text-wrap: wrap;
  padding: 10px;
  border: 1px solid white;
}

.community-banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://www.allirafontana.com/sy-photos/page-photos/20190916052651-Fagan_Park.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 90%;
  border-radius: 16px;
  margin: 20px;
  padding: 20px;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.breed-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
