body{
  background-color: white;

}
.community-card {
  width: 150px;
  height: 190px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  text-wrap: wrap;
  padding: 4px;
  margin-bottom: 10px;
  border: 1px solid white;
  p{
    font-size: 14px;
    margin-top: 4px;
  }
}

.btn-community{
  font-size: 12px;
  background: #e27835;
  padding: 4px 8px;
  color: white;
  border-radius: 4px;
}
.community-banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  width: 100%;
  padding: 20px;
  background: #e27835;
  color: white;
  text-align: center
}

.breed-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
