.community-container {
  margin: 16px 16px 71px 16px;
  h2{
    margin-bottom: 16px;
  }
}

.community-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 32px;
  a{
    text-decoration: none;
    color: white;
  }
}
.community-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  p{
    font-size: 20px;
    margin: 0;
  }
  a{
    text-decoration: none;
    color: white;
  }
}

.community-card-city {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  p{
    font-size: 20px;
    margin: 0;
  }
  a{
    text-decoration: none;
    color: white;
  }
}

.input-search-small {
  width: 200px;
  border-radius: 12px;
  padding: 8px;
  border: none;
  font-size: 14px;
}
