.full-card{
  margin: 0 auto;
  width: 100%;
  position: relative;
  border-bottom: 1px solid $light-gray;
  transition: transform 0.3s;
  cursor: pointer;
  &:hover{
    border: 1px solid $light-orange;
  }
}

.conversations-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conversation-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 8px 16px;

  p {
    color: grey;
    margin: 0;
  }
}

.names {
  text-decoration: none;
  color: black;
}

.delete {
  margin: 0;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: absolute;
  top: 38px;
  right: 20px;
  i{
    font-size: 20px;
    color: $orange;
  }
}

.conversation-images {
  display:  flex;
}

.conversation-text{
  flex-grow: 1;
}

@media (min-width: 768px) {
  .full-card {
    max-width: 70%;
  }
}
