
.banner-img{
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 500px;
  margin-bottom: 60px;
  margin-right: 60px;
  margin-left: 60px;
  border-radius: 8px;
}

.banner-text h3 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.banner-text p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  padding: 10px;
  margin-left: 5px;
}

.card-event {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* Add pointer cursor to indicate interactivity */
}

.card-event:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add slight shadow when hovering */
}

.card-event img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-event h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-event p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-event .card-event-info {
  padding: 16px;
}

.modal-image-container {
  width: 100%;
  height: auto;
  text-align: center;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
}
