.container-event {
  margin: 16px 16px 71px 16px;
}

.months-of-event{
  margin-left: 10px;
}

.event-calendar-icon{
  position: absolute;
  top: 4px;
  right: 8px;
}
.card-event {
  position: relative;
  display: flex;
  border-radius: 12px;
  height: 140px;
  border: 1px solid $light-gray;
  overflow: hidden;
  height: 140px;
  background: white;
  transition: box-shadow 0.4s ease;
  cursor: pointer;

  .card-event:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .event-image {
    width: 140px;
    height: auto;
    object-fit: cover;
  }

  .card-event-info {
    padding: 8px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h5 {
      font-size: 1rem; // Adjust font size for event title
      margin-top: 5px;// Add margin at the bottom of the title
    }

    p {
      margin: 0;
    }
  }
}

.event-details {
  margin-bottom: 8px;
  p{
    color: gray;
    font-size: 14px;
  }
  i{
    color: $orange;
  }
}

// Media query for smaller screens
@media (max-width: 480px) {
  .card-event {
    margin-bottom: 16px;
  }
}
.modal-header{
    background: $light-orange;
}

.modal-body {
  img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 8px;
  }
    padding: 0px;
}

.attend-button{
  background-color: rgb(252, 160, 0);
  border-radius: 6px;
  border: 0px;
  width: auto;
  height: 40px;
  text-decoration: none;
}
