.header {
  background-color: $light-orange;
  padding: 16px 0 24px 0;
}

.header-inner{
  display: flex;
  // justify-content: space-around;
  margin: 0 16px;
  flex-direction: column;
  // justify-content: center;

  a{
    font-size: 30px;
    margin: 0;
  }
  i{
    margin: 0;
  }
}
