.message-container {
  background-color: #a1f2f7;
  border-radius: 5px;
  width: auto;
  max-width: 100%;
  text-align: right;

}

.message-content {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 100%;
}
