.modal-header{
  padding-bottom: 16px;
  padding-top: 0 ;
}

.modal-header .btn-close{

}

.modal-content{
  border-radius: 12px;
  img{
    border-radius: 12px;
  }
}

.modal-body{
  p{
    margin: 16px 0;
  }
}
.modal-footer {
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 0;
  gap: 8px;
}
