.navbar-barkbuddies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  margin: 16px;

  a{
    color: gray;
  }

  h3{
    margin: 0;
    color: black;
  }

}

.logo-container {
  display: flex;
  align-items: center;
  width: 100px;
  .logo {
    width: 100%;
  }
}

.navbar-items{
  display: flex;
  width:60%;
  justify-content: flex-end;
  gap:10px;
  align-items: center;
  a{
    color: gray;

  }
}

.link {
  position: relative;
  color: #808080;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  small {
    margin:0;
  }

  &:hover {
    color: rgb(0, 0, 0);
  }
}

.icon {
  font-size: 38px;
  margin:0;
}

.navbar-dropdown {
  display:flex;
  align-items: center;
  justify-content: center;
}

.notification-container{
  position: relative;
}

.menu{
  width: 100%;
  display: flex;
  padding: 4px 0;
  ul{
    width:100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      margin: 0 10px;
      text-align: center;
      width: 54px;
    }
    small {
      font-size: 9px;
    }
  }
}

.menu-selections{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .icon{
    font-size: 20px;
  }
}


.appear-if-large {
  display: none;
}

.notification-dot{
  position: absolute;
  top: 4px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  color: white;
  margin: 0 0 -12px -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
}

.messages-dot{
  position: absolute;
  top: -10px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  color: white;
  margin: 0 0 -12px -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
}

@media (min-width: 575px) {
  .appear-if-large {
    display: block;
  }
  .appear-if-small {
    display: none;
  }
}

@media (max-width: 575px) {
  .navbar-items{
    width:100%;
    justify-content: space-evenly;
    gap:0;
    .appear-if-small{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      gap:10px;
    }
    .icon{
      font-size: 20px;
      margin: 0;
      text-shadow: 0 0 3px white;
    }
  }
  .navbar-container{
    border-top: solid 1px rgb(169, 167, 167);
    position: fixed;
    background: $light-orange;
    z-index: 1000;
    width: 100%;
    bottom: 0;
  }
}

.hide-navbar {
  display: none;
}
