// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/profile";

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body{
  background-image: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url('https://www.shutterstock.com/image-vector/dog-bone-seamless-pattern-french-600nw-1656988378.jpg');
}

@media (min-width: 575px){

  .profiles-container {
    border-radius: 12px;
    margin: 0 150px;
  }

  .upcoming-events-container {
    border-radius: 12px;
    margin: 0 150px;
  }

  .card-event {
    margin-bottom: 12px;
  }

  .suggested-community-container{
    border-radius: 12px;
    margin: 0 150px;
  }

  .header{
    border-radius: 12px;
    margin: 0 150px;
  }

  .conversations-container{
    border-radius: 12px;
    margin: 0 150px;
    background-color: white;
  }

  .chat-form{
    margin: 0;
  }

  .chat-header{
    border-radius: 12px;
  }

  .container-event{
    border-radius: 12px;
    margin: 16px 150px;
  }

  .community-container{
    border-radius: 12px;
    margin: 16px 150px;
  }

  .explore-container{
    border-radius: 12px;
    margin: 16px 150px;
  }
}
